In [25]:
import pandas as pd

movies = pd.read_csv("movies.csv")

In [26]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [27]:

import re

#removing (, - / | "") from title
def clean_title(title):
    title = re.sub("[^a-zA-Z0-9 ]", "", title)
    return title

In [28]:
#applying the fuction 
movies["clean_title"] = movies["title"].apply(clean_title)

In [29]:
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island 1962

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range=(1,2))

tfidf = vectorizer.fit_transform(movies["clean_title"])

In [31]:
#from sklearn.metrics.pairwise import cosine_similarity
#import numpy as pn 

#def search(title): 
#title = "Harry Potter"
#query_vec = vectorizer.transform([title])
#similarity = cosine_similarity(query_vec, tfidf).flatten()

In [32]:
#testing similarity with 0 in results
# we couldnt find any similar data with Harry potter
#similarity

In [33]:
#from sklearn.metrics.pairwise import cosine_similarity
#import numpy as pn 

#def search(title): 
#title = "Man 1995"
#title = clean_title(title)
#query_vec = vectorizer.transform([title])
#similarity = cosine_similarity(query_vec, tfidf).flatten()

In [34]:
#testing similarity with better results for Man 1995
#similarity

In [35]:
#from sklearn.metrics.pairwise import cosine_similarity
#import numpy as pn 

#def search(title): 
#title = "Man 1995"
#title = clean_title(title)
#query_vec = vectorizer.transform([title])
#similarity = cosine_similarity(query_vec, tfidf).flatten()
# find the 5 most similar titles for our search terms
#indices = np.argpartition(similarity, -5)[-5:]
#results = movies.iloc[indices]

In [36]:
# finding 5 similar data from man 1995
#indices

In [37]:
# find the 5 most similar with title info 
#results

In [38]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def search(title):
     #title = "Toy Story 1995"
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
     # find the most similar titles for our search terms #5
    indices = np.argpartition(similarity, -5)[-5:]
    # find the 5 most similar with title info
    results = movies.iloc[indices].iloc[::-1]
    
    return results

In [39]:
# pip install ipywidgets
#jupyter labextension install @jupyter-widgets/jupyterlab-manager

In [40]:
import ipywidgets as widgets
from IPython.display import display

movie_input = widgets.Text(
    value='Toy Story',
    description='Movie Title:',
    disabled=False
)
movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            display(search(title))

movie_input.observe(on_type, names='value')


display(movie_input, movie_list)

Text(value='Toy Story', description='Movie Title:')

Output()

In [41]:
movie_id = 89745

#def find_similar_movies(movie_id):
movie = movies[movies["movieId"] == movie_id]

In [42]:
ratings = pd.read_csv("ratings.csv")

In [43]:

ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [44]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [45]:
#data from Toy Story 
movieId = 1

In [46]:
# in tbhis code we are searhing who liked toy story with a rating > 4
similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()

similar_users

In [49]:
# finding users who liked the same movie
similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]

In [50]:
similar_user_recs

3741           318
3742           527
3743           541
3744           589
3745           741
             ...
24998517     91542
24998518     92259
24998522     98809
24998523    102125
24998524    112852
Name: movieId, Length: 577796, dtype: int64

In [52]:
similar_user_recs.value_counts()

89745     6036
58559     3461
59315     3203
79132     3137
2571      2998
          ...
160402       1
161642       1
158950       1
199648       1
198609       1
Name: movieId, Length: 16553, dtype: int64

In [60]:
# Find only the movies that had more than 10%
similar_user_recs = similar_user_recs.value_counts() / len(similar_users)

similar_user_recs = similar_user_recs[similar_user_recs > .10]

In [61]:
similar_user_recs

Series([], Name: movieId, dtype: float64)

In [62]:
# finding how much all users like movies
all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]

In [63]:
all_users

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [71]:
# finding the % of all users who recommended those movies
all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

In [74]:
rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
rec_percentages.columns = ["similar", "all"]

In [75]:
rec_percentages

Empty DataFrame
Columns: [similar, all]
Index: []

In [76]:
# creating a recommendation score

In [77]:

rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]

In [78]:
rec_percentages = rec_percentages.sort_values("score", ascending=False)

In [79]:
# taking the top 10 
rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")

Empty DataFrame
Columns: [similar, all, score, movieId, title, genres, clean_title]
Index: []

In [80]:
# building a recommendation function 
def find_similar_movies(movie_id):
    # Fiding our recommendation from users similar to us
    similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()
    similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]similar_user_recs = similar_user_recs.value_counts() / len(similar_users)
   # Adjusting so we only have recommendation were over 10% of users recommended that movie
    similar_user_recs = similar_user_recs[similar_user_recs > .10]
   
 # Fiding our common the recommendations were among all ther uers 
    
    
    all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]
    all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
    rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
    rec_percentages.columns = ["similar", "all"]
    # recommendation score
    rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
    rec_percentages = rec_percentages.sort_values("score", ascending=False)
    return rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")[["score", "title", "genres"]]

In [81]:
import ipywidgets as widgets
from IPython.display import display

movie_name_input = widgets.Text(
    value='Toy Story',
    description='Movie Title:',
    disabled=False
)
recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))

movie_name_input.observe(on_type, names='value')

display(movie_name_input, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()